/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-color: #e7e7e7;
  --muted-text: #777;
  --main-transition: 0.3s;
  --secondary-transition: 0.6s;
  --main-rounded: 3px;
  --secondary-rounded: 6px;
  --section-padding: 80px;
  --large-padding: 40px;
  --small-padding: 30px;
}
/* End Variables */

/* Start General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
img,
video {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}
/* End General */

/* Start Components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-heading {
  font-size: 120px;
  letter-spacing: -2px;
  text-align: center;
  color: #ebeced;
}
.special-heading + p {
  color: #797979;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 90px;
  }
}
/* End Components */

/* Start Header */
header {
  box-shadow: 1px 1px 15px rgb(0 0 0 / 20%) inset;
  padding: 0 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
header .container .logo {
  width: 60px;
}
header .container menu {
  position: relative;
}
header .container menu {
  position: relative;
}
header .container menu {
  position: relative;
}
header .container menu .menu-icon {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .container menu .menu-icon span {
  background: black;
  margin-bottom: 5px;
  width: 100%;
  height: 2px;
}
header .container menu .menu-icon span:nth-child(2) {
  width: 75%;
  transition-property: width;
  transition-duration: var(--main-transition);
}
header .container menu:hover .menu-icon span:nth-child(2) {
  width: 100%;
}
header .container menu ul {
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  top: calc((70px / 2) + 15px);
  background: var(--section-color);
  width: 200px;
  border-radius: var(--main-rounded);
  opacity: 0;
  transform: translateY(20px);
  transition: all var(--main-transition);
  visibility: hidden;
}
header .container menu:hover ul {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
header .container menu ul::before {
  content: "";
  border-width: 10px;
  border-color: transparent transparent var(--section-color) transparent;
  border-style: solid;
  position: absolute;
  right: 0;
  top: -19px;
}
header .container menu ul li a {
  display: block;
  padding: 15px;
  text-transform: capitalize;
  font-weight: 600;
  transition-property: padding;
  transition-duration: var(--main-transition);
}
header .container menu ul li:hover a {
  padding-left: 25px;
}
header .container menu ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing */
.landing {
  height: calc(100vh - 70px);
  background-image: url("../imgs/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.landing .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  text-transform: capitalize;
}
.landing .container h1 {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.landing .container p {
  line-height: 1.7;
  font-size: 25px;
}
/* End Landing */

/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--section-color);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 20px;
}
.features .container .feat {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: capitalize;
  padding-top: var(--small-padding);
  padding-bottom: var(--small-padding);
  transition: box-shadow var(--main-transition);
  border-radius: var(--main-rounded);
}
.features .container .feat:hover {
  box-shadow: 1px 1px 15px rgb(0 0 0 / 50%);
}
.features .container .feat i {
  margin: 30px 0;
  color: var(--main-color);
}
.features .container .feat h2 {
  font-size: 28px;
  font-weight: 800;
}
.features .container .feat p {
  line-height: 1.7;
  font-size: 18px;
  color: var(--muted-text);
}
/* End Features */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.services .service-content .col .serv {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}
@media (max-width: 767px) {
  .services .service-content .col .serv {
    display: block;
    text-align: center;
  }
}
.services .service-content .col .serv .serv-icon i {
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .services .service-content .col .serv .serv-icon i {
    margin-bottom: 20px;
  }
}
.services .service-content .col .serv .serv-content h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.services .service-content .col .serv .serv-content h3 + p {
  color: #777;
  line-height: 1.7;
}
.services .service-content .col:last-child .serv-img {
  position: relative;
}
.services .service-content .col:last-child .serv-img::before {
  content: "";
  position: absolute;
  right: -15%;
  top: -20px;
  width: 30%;
  height: calc(100% + 40px);
  background-color: var(--secondary-color);
}
.services .service-content .col:last-child .serv-img img {
  position: relative;
}
@media (max-width: 991px) {
  .services .service-content .col:last-child {
    display: none;
  }
}
/* End Services */

/* Start Portfolio */
.portoflio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--section-color);
}
.portoflio .project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.portoflio .project-container .project {
  background: white;
  border-radius: var(--main-rounded);
  overflow: hidden;
}

.portoflio .project-container .project .info {
  padding: var(--small-padding);
}
.portoflio .project-container .project h3 {
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.portoflio .project-container .project p {
  color: #777;
  line-height: 1.7;
}
.portoflio .more {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.portoflio .more button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 10px 40px;
  border-radius: var(--main-rounded);
  cursor: pointer;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.about .about-holder .about-image {
  position: relative;
  max-width: 300px;
}
@media (max-width: 991px) {
  .about .about-holder .about-image {
    display: none;
  }
}
.about .about-holder .about-image:after {
  content: "";
  position: absolute;
  left: -30px;
  width: 100px;
  top: -20px;
  height: calc(100% + 40px);
  background: #ebeced;
  z-index: -1;
}
.about .about-holder .about-image:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: -10%;
  right: -65%;
  border-bottom: 40px solid var(--main-color);
  border-left: 50px solid var(--main-color);
}
.about .about-holder .about-image img {
  position: relative;
}
.about .about-holder .about-info {
  flex-basis: calc(100% - 530px);
}
@media (max-width: 991px) {
  .about .about-holder .about-info {
    flex-basis: 100%;
    text-align: center;
  }
}
.about .about-holder .about-info p:first-of-type {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 1.8;
}
.about .about-holder .about-info hr {
  width: 60%;
  border-color: var(--main-color);
}
@media (max-width: 991px) {
  .about .about-holder .about-info hr {
    margin: 0 auto;
  }
}
.about .about-holder .about-info p:last-of-type {
  color: #777;
  line-height: 1.6;
  margin-top: 25px;
}
/* End About */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: var(--section-color);
}
.contact .contact-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.contact .contact-holder h3 {
  color: var(--secondary-color);
  font-size: 38px;
  text-transform: capitalize;
}
.contact .contact-holder h4 {
  color: var(--main-color);
  font-size: 30px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .contact .contact-holder h3 {
    color: var(--secondary-color);
    font-size: 28px;
    text-transform: capitalize;
  }
  .contact .contact-holder h4 {
    color: var(--main-color);
    font-size: 18px;
    padding-left: 30px;
  }
}
.contact .contact-holder .socials {
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact .contact-holder .socials .social-icon {
  display: flex;
  gap: 20px;
}
.contact .contact-holder .socials .social-icon i {
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
}
